<%= form_for @article, html: { role: 'form' } do |f| %>
  <%= render 'shared/error_message', target: @article %>

  <div class="form-group">
    <%= f.label :title %>
    <%= f.text_field :title, class: 'form-control', placeholder: 'Enter title' %>
  </div>
  <div class="form-group">
    <%= f.label :content %>
    <%= f.text_area :content, class: 'form-control', placeholder: 'Enter content' %>
  </div>
  <div class="form-group">
    <%= f.submit 'Submit', class: 'btn btn-default' %>
  </div>
<% end %>
